BODY {
	SCROLLBAR-FACE-COLOR: #c4c4c4; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #d5d5d5; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #d5d5d5; SCROLLBAR-DARKSHADOW-COLOR: #d2d1cb
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	COLOR: red; TEXT-DECORATION: none
}
A:hover {
	COLOR: #003366; TEXT-DECORATION: underline
}
.menu-blue12 {
	FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menu-lightblue {
	FONT-SIZE: 12px; COLOR: #335e7d; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.word {
	FONT-SIZE: 11px; COLOR: #496683; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menu-link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #924174; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.news {
	FONT-SIZE: 11px; COLOR: #34485c; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.word2 {
	FONT-SIZE: 11px; COLOR: #444444; LINE-HEIGHT: 20px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.news-13 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #657450; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.news-12 {
	FONT-SIZE: 12px; COLOR: #cc3333; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.product-menu {
	FONT-SIZE: 12px; COLOR: #003366; LINE-HEIGHT: 16px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.article {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.file {
	FONT-SIZE: 11px; COLOR: #666666; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.content {
	FONT-SIZE: 12px; COLOR: #1f2c38; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.indexicon {
	FONT-SIZE: 12px; COLOR: #946363; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.director {
	FONT-SIZE: 11px; COLOR: #1b63b4; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.wrong {
	FONT-SIZE: 12px; COLOR: #cc0000; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.name {
	FONT-SIZE: 11px; COLOR: #003366; LINE-HEIGHT: 16px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: underline
}
.topmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 16px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.leftmenu {
	FONT-SIZE: 11px; COLOR: #333333; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.rightnews {
	FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bottom_name {
	FONT-SIZE: 12px; COLOR: #394f66; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.bottom_text {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download-new {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #5c81a5; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download-time {
	FONT-SIZE: 11px; COLOR: #757575; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download_menu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download_name {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #677ea3; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download_show {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download_from {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download_title {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #324b65; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.faq_title {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; LINE-HEIGHT: 24px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download_name1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #cc0000; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.faq_content {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.contact {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.contact-1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #df6820; LINE-HEIGHT: 20px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.map-word {
	FONT-SIZE: 11px; COLOR: #705454; LINE-HEIGHT: 13px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.step {
	FONT-SIZE: 13px; COLOR: #003366; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.TITLESS {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #cc3333; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.test_title {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #74a273; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download_name2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333e88; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download_name3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #232323; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.menu_left {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #4a719f; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.copy {
	FONT-SIZE: 10px; COLOR: #666666; LINE-HEIGHT: 12px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.article_1 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #333333; LINE-HEIGHT: 20px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.Related {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #1c224a; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.notenn {
	FONT-SIZE: 12px; COLOR: #ec7394; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.article_wt {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.member {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #000000; LINE-HEIGHT: 18px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.total {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #6d6d6d; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download_name4 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #993333; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.evaluate {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ffffff; LINE-HEIGHT: 20px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.links {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #0064dc; TEXT-DECORATION: underline
}
.red {
	FONT-SIZE: 11px; COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.white {
	FONT-SIZE: 11px; COLOR: #ffffff; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.Deactive {
	FONT-SIZE: 11px; COLOR: #006699; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.active {
	FONT-SIZE: 11px; COLOR: #ff9999; LINE-HEIGHT: 14px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
.download_name5 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffff00; LINE-HEIGHT: 15px; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}
