.menustyle {
	BORDER-RIGHT: gray 0px solid; PADDING-RIGHT: 8px; BORDER-TOP: gray 0px solid; PADDING-LEFT: 8px; FONT-WEIGHT: bold; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; MARGIN-LEFT: 5px; BORDER-LEFT: gray 0px solid; CURSOR: hand; COLOR: white; MARGIN-RIGHT: 5px; PADDING-TOP: 3px; BORDER-BOTTOM: gray 0px solid; FONT-FAMILY: verdana
}
.menuitem {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
.submenuitem {
	BORDER-RIGHT: 1px; PADDING-RIGHT: 8px; BORDER-TOP: 1px; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: 1px; CURSOR: hand; COLOR: black; PADDING-TOP: 3px; BORDER-BOTTOM: 1px; FONT-FAMILY: verdana; BACKGROUND-COLOR: #edf6fc
}
.submouseover {
	BORDER-RIGHT: #999 0px solid; PADDING-RIGHT: 8px; BORDER-TOP: #999 0px solid; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: #999 0px solid; CURSOR: hand; PADDING-TOP: 3px; BORDER-BOTTOM: #999 0px solid; FONT-FAMILY: verdana; WHITE-SPACE: nowrap; BACKGROUND-COLOR: #c7e7fb
}
.selectmenuitem {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; PADDING-BOTTOM: 3px; COLOR: #000040; PADDING-TOP: 3px
}
